@page "/editbooks"

@using OnlyBookShop.Data

<h3>Book Lists</h3>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Year</th>
            <th>Price (Baht)</th>
            <th>Pic URL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Atomic Habits</td>
            <td>บทพิสูจน์ที่เปลี่ยนชีวิตคุณให้ดีขึ้นได้อย่างถาวร โดย JAMES CLEAR นักเขียนหนังสือขายดีของ New York Times ผู้เชี่ยวชาญระดับโลกด้านการสร้างนิสัย</td>
            <td>James Clear</td>
            <td>2018</td>
            <td>257</td>
            <td>https://i.imgur.com/sUhDG4p.jpg</td>
        </tr>
        <tr>
            <td>1</td>
            <td>SAPIENS</td>
            <td>มาร่วมไขปัญหาที่ยิ่งใหญ่ที่สุดในประวัติศาสตร์และในโลกยุคใหม่ ใน SAPIENS เซเปียนส์ ประวัติย่อมนุษยชาติ หนังสือประวัติศาสตร์ มาแรงในขณะนี้</td>
            <td>Yuval Noah Harari</td>
            <td>2011</td>
            <td>450</td>
            <td>https://i.imgur.com/GkMHrkC.jpg</td>
        </tr>
        <tr>
            <td>2</td>
            <td>THINK AGAIN คิดแล้ว, คิดอีก</td>
            <td>think again หนังสือ แปลไทย จาก Adam Grant ..กล่าวถึง..พลังแห่งการตั้งคำถาม กับสิ่งที่คุณคิดว่าถูกต้อง</td>
            <td>Adam Grant</td>
            <td>2021</td>
            <td>316</td>
            <td>https://i.imgur.com/fvJhZ8h.jpg</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Four Thousand Weeks</td>
            <td>คุณอาจไม่เคยรู้สึกว่า "มีเวลาอย่างแท้จริง" จนได้อ่านหนังสือเล่มนี้ หนังสือที่นักคิดด้านการพัฒนาตัวเองชั้นนำของโลกบอกว่า เป็นหนังสือด้านการบริหารเวลาที่ดีที่สุด แปลไปกว่า 23 ภาษา</td>
            <td>Oliver Burkeman</td>
            <td>2021</td>
            <td>265</td>
            <td>https://i.imgur.com/Eu3Ub3P.jpg</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Why We Sleep</td>
            <td>หนังสือเล่มนี้คือคู่มือการนอนหลับฉบับสมบูรณ์ที่มีข้อมูลทางวิทยาศาสตร์รองรับ ซึ่งไม่เพียงถ่ายทอดเคล็ดลับที่ช่วยให้คุณนอนหลับอย่างมีคุณภาพทุกคืน แต่ยังฟื้นฟูศักยภาพ ในการใช้ชีวิตอย่างเปี่ยมพลังในทุกๆ วัน</td>
            <td>Matthew Walker</td>
            <td>2017</td>
            <td>372</td>
            <td>https://i.imgur.com/sS5yrKg.jpg</td>
        </tr>
    </tbody>
</table>

<div class="book-container">
    <strong>Book ID: </strong>0<br>
    <strong>Name: </strong>Atomic Habits<br>
    <strong>Description: </strong>บทพิสูจน์ที่เปลี่ยนชีวิตคุณให้ดีขึ้นได้อย่างถาวร โดย JAMES CLEAR นักเขียนหนังสือขายดีของ New York Times ผู้เชี่ยวชาญระดับโลกด้านการสร้างนิสัย<br>
    <strong>Author: </strong>James Clear<br>
    <strong>Year: </strong>2018<br>
    <strong>Price (Baht): </strong>257<br>
    <strong>Pic URL: </strong><a href="https://i.imgur.com/sUhDG4p.jpg">https://i.imgur.com/sUhDG4p.jpg</a>
</div>

<div class="book-container">
    <strong>Book ID: </strong>1<br>
    <strong>Name: </strong>SAPIENS<br>
    <strong>Description: </strong>มาร่วมไขปัญหาที่ยิ่งใหญ่ที่สุดในประวัติศาสตร์และในโลกยุคใหม่ ใน SAPIENS เซเปียนส์ ประวัติย่อมนุษยชาติ หนังสือประวัติศาสตร์ มาแรงในขณะนี้<br>
    <strong>Author: </strong>Yuval Noah Harari<br>
    <strong>Year: </strong>2011<br>
    <strong>Price (Baht): </strong>450<br>
    <strong>Pic URL: </strong><a href="https://i.imgur.com/GkMHrkC.jpg">https://i.imgur.com/GkMHrkC.jpg</a>
</div>

<div class="book-container">
    <strong>Book ID: </strong>2<br>
    <strong>Name: </strong>THINK AGAIN คิดแล้ว, คิดอีก<br>
    <strong>Description: </strong>think again หนังสือ แปลไทย จาก Adam Grant ..กล่าวถึง..พลังแห่งการตั้งคำถาม กับสิ่งที่คุณคิดว่าถูกต้อง<br>
    <strong>Author: </strong>Adam Grant<br>
    <strong>Year: </strong>2021<br>
    <strong>Price (Baht): </strong>316<br>
    <strong>Pic URL: </strong><a href="https://i.imgur.com/fvJhZ8h.jpg">https://i.imgur.com/fvJhZ8h.jpg</a>
</div>

<div class="book-container">
    <strong>Book ID: </strong>3<br>
    <strong>Name: </strong>Four Thousand Weeks<br>
    <strong>Description: </strong>คุณอาจไม่เคยรู้สึกว่า "มีเวลาอย่างแท้จริง" จนได้อ่านหนังสือเล่มนี้ หนังสือที่นักคิดด้านการพัฒนาตัวเองชั้นนำของโลกบอกว่า เป็นหนังสือด้านการบริหารเวลาที่ดีที่สุด แปลไปกว่า 23 ภาษา<br>
    <strong>Author: </strong>Oliver Burkeman<br>
    <strong>Year: </strong>2021<br>
    <strong>Price (Baht): </strong>265<br>
    <strong>Pic URL: </strong><a href="https://i.imgur.com/Eu3Ub3P.jpg">https://i.imgur.com/Eu3Ub3P.jpg</a>
</div>

<div class="book-container">
    <strong>Book ID: </strong>4<br>
    <strong>Name: </strong>Why We Sleep<br>
    <strong>Description: </strong>หนังสือเล่มนี้คือคู่มือการนอนหลับฉบับสมบูรณ์ที่มีข้อมูลทางวิทยาศาสตร์รองรับ ซึ่งไม่เพียงถ่ายทอดเคล็ดลับที่ช่วยให้คุณนอนหลับอย่างมีคุณภาพทุกคืน แต่ยังฟื้นฟูศักยภาพ ในการใช้ชีวิตอย่างเปี่ยมพลังในทุกๆ วัน<br>
    <strong>Author: </strong>Matthew Walker<br>
    <strong>Year: </strong>2017<br>
    <strong>Price (Baht): </strong>372<br>
    <strong>Pic URL: </strong><a href="https://i.imgur.com/sS5yrKg.jpg">https://i.imgur.com/sS5yrKg.jpg</a>
</div>

<h4>Edit Menu</h4>

<table class="responsive-table">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Year</th>
            <th>Price (Baht)</th>
            <th>Pic URL</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </td>
            <td>
                <input class="form-control" type="text" placeholder="ABC" aria-label="Name">
            </td>
            <td>
                <textarea class="form-control" id="exampleFormControlTextarea1" aria-label="Description" rows="3"></textarea>
            </td>
            <td>
                <input class="form-control" type="text" placeholder="John Cena" aria-label="Author">
            </td>
            <td>
                <input class="form-control" type="number" placeholder="0" aria-label="Year">
            </td>
            <td>
                <input class="form-control" type="number" placeholder="0" aria-label="Price">
            </td>
            <td>
                <input class="form-control" type="text" placeholder="www.abc.com/abc.jpg" aria-label="URL Picture">
            </td>
        </tr>
    </tbody>
</table>

<div class="book-container">
    <strong>Book ID: </strong>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
    <strong>Name: </strong><input class="form-control" type="text" placeholder="ABC" aria-label="Name"><br>
    <strong>Description: </strong><textarea class="form-control" id="exampleFormControlTextarea1" aria-label="Description" rows="3"></textarea><br>
    <strong>Author: </strong><input class="form-control" type="text" placeholder="John Cena" aria-label="Author"><br>
    <strong>Year: </strong><input class="form-control" type="number" placeholder="0" aria-label="Year"><br>
    <strong>Price (Baht): </strong><input class="form-control" type="number" placeholder="0" aria-label="Price"><br>
    <strong>Pic URL: </strong><input class="form-control" type="text" placeholder="www.abc.com/abc.jpg" aria-label="URL Picture">
</div>


<div>
    <button type="button" class="btn btn-outline-success float-end">Update Book</button>
</div>

@code {

}
