.vertical-form {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}

.vertical-form label {
    display: block;
    margin-bottom: 5px;
}

.vertical-form input,
.vertical-form select,
.vertical-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


@media only screen and (max-width: 600px) {
    .vertical-form {
        display: none;
    }
}


.book-container {
    margin-bottom: 20px;
    border: 1px solid #ddd; 
    padding: 10px;
}

@media only screen and (min-width: 601px) {
    .book-container {
        display: none;
    }
}
