/* Style for form container */
.vertical-form {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto;
}

/* Style for form labels */
.vertical-form label {
    display: block;
    margin-bottom: 5px;
}

/* Style for form inputs and selects */
.vertical-form input,
.vertical-form select,
.vertical-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


/* Optional: Add styles for responsiveness */
@media only screen and (max-width: 600px) {
    .vertical-form {
        display: none;
    }
}


/* Style for the book container */
.book-container {
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Add border for better separation */
    padding: 10px;
}

/* Responsive styles for the book container */
@media only screen and (min-width: 601px) {
    /* Hide book containers on larger screens */
    .book-container {
        display: none;
    }
}
