@page "/"

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="masthead" style="font-family: 'Kalam', cursive;">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold" style="font-size: 72px;">Welcome to the OnlyBookShop</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="mb-5" style="color:bisque">
                    Step into a world of wonder at our bookshop, where each page holds a new adventure. As the ultimate destination for book lovers, we curate an exquisite collection across genres. Immerse yourself in the magic of storytelling – we're not just a bookshop, but your gateway to endless tales. Discover, indulge, and let the journey begin!
                </p>
                <a class="btn btn-light btn-lg" href="books"><i class="fa fa-book"></i> Books</a>
                <a class="btn btn-info btn-lg" style="margin-left: auto" href="about"><i class="oi oi-person" style="color: white"></i> About me</a>
            </div>
        </div>
    </div>
</header>
